*{
    margin:0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#topsection{
    background-color:#303030;
    position:relative;
    display:flex;
    margin-bottom:-20px;
    padding:0;
}
#titreM{
    display:none;
}
#menu{
    position:absolute;
    right:0;
    display:flex;
    text-align:right;
    font-size: 15px;
    font-weight: :bold;
    list-style: none;
    padding-top:30px;
    padding-right: 20px;
    color:white;
    margin:0;


}
#mobile-menu{
    display:none;
}
nav ul li{

    margin-right:15px;
}
nav ul li a{
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color:#1a9edb;
    font-weight: bold;
    text-decoration: underline;
}
/* End Header */
/* Start section Presentation */

.presentation{
    background-color:#2098d1;
    background-size: cover;
    width: 100%;
    display:block;
    margin:0;
    padding:0;


}
.container{
    padding-top:175px;

    padding-bottom:200px;
    font-family: 'Titillium Web', sans-serif;
    font-size:25px;
    text-align:center;
    color:white;


}

.link{

    color:#FFF;
    text-transform: uppercase;
    margin:0 auto;
    padding:20px 50px;
    display:flex;
    width:10%;

    justify-content: center;
    border-radius:5px;
    text-decoration:none;
}
.link:hover{
    color:black;
}
/* start moi */
#moi{
    margin-top:-20px;
    background-color:#F5F5DC;
}


.me{
padding-top:175px;
    text-align: center;


    padding-bottom:250px;

}
.moipara{
    padding-left:25%;
    padding-right:25%;
    text-align:center;
    word-wrap:break-word;
}
#S{
    color:#2098d1;
}
#G{
    color:#2098d1;
}
.link1{
    color:black;
    text-transform: uppercase;
    margin:0 auto;
    padding:20px 50px;
    display:flex;
    width:10%;
    justify-content: center;
    border-radius:5px;
    text-decoration:none;
}
.link1:hover{
    color:#2098d1;
}
/* start compétences */
#about{
   padding-top:175px;
    background-color:white;
    


}
.skillh1{
    text-align: center;
    font-size:50px;
    color:#999999;
    position:relative;
    padding-top:50px;

}

.gauge{
    margin:50px auto;
    width: 60%;
}
.progressBar{
    position: relative;
    width: 80%;

    height:40px;
    background: #eeeeee;
    margin-bottom: 20px;
    border-radius:2px;
    box-shadow:0 1px 2px #222;
}
.title{
    position: absolute;
    width: 100px;
    height: 40px;
    padding-left:10px;
    float:left;
    font-weight: bold;
    color:#fff;
    z-index: 10000;
    box-shadow:2px 0 2px #333;
    text-shadow:1px 1px 1px #000;
    line-height:2.5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.progress_value{
    position: relative;
    float:right;
    padding-right: 10px;
    line-height: 2.5;
    font-weight: bold;
    color:#455a64;
    z-index:10000;


}
.progress{
    height:40px;
    position:absolute;
    border-radius: 5px;
    box-shadow:2px 0 2px #555;
}
.htmlColor{
    background: #b71c1c;

}
.cssColor{
    background: #4a148c;
}
.jsColor{
    background:#f6f326;
}
.jqueryColor{
    background: #2694f6;
}
.phpColor{
    background: #7826f6;
}
.pythonColor{
    background:#115626;
}
.html{
    background: #b71c1c;

}
.css{
    background: #4a148c;
}
.js{
    background:#f6f326;
}
.jquery{
    background: #2694f6;
}
.php{
    background: #7826f6;
}
.python{
    background:#115626;
}
.imageskill{
    padding-right: 100px;
    padding-top: 5%;
}
.doubleskill{
    display:flex;
}

/* end conpétences */
#portfolio{
    padding-top:175px;
  
    background-color:#f77a7a;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-size:30px;
}
#ligne1{
    padding-top:30px;
   
    padding-right: 20ox;
    padding-bottom:30px;
  
}
.categories span{
    padding-left:5px;
    padding-right: 5px;
   text-decoration:none;
    color:white;
   background-color:#D77A7A;
   border-radius:5px;
}
.categories span:hover{
    background-color:#BF7A7A;
}
.forme{
  display:flex;
  justify-content:center;
    padding-top:20px;
}
.circle {
	border: 2px solid #666666;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 12px;
	height: 12px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
margin-right:20px;
}

.circle2 {
	border: 2px solid #666666;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 12px;
	height: 12px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
    margin-right:20px;
    
}
.circle3{
    	border: 2px solid #666666;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 12px;
	height: 12px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
margin-right:20px;
    
    
}

#filled {
	background-color: #666666;
}

/* Fin Portfolio */
/* Footer */
.contact{
    padding-top:175px;
    background-color:#303030;
     color:white;
    
    font-family: 'Titillium Web', sans-serif;
    font-size:30px;
    margin-top:-30px;
}
.contact h1{
    text-align:center;
}

form{
    text-align:center;
}
.footElem{
    display:flex;
    justify-content:space-around;
    
}
#socialNetwork{
    list-style: none;
    display:flex;
   
    
}
.coordonner{
   display:block;
    
}
#map{
    width:30%;
    height:400px;
}
#socialNetwork li{
    margin-right:15px;
}